@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

html {
    scroll-behavior: smooth;
    overflow: visible;
}

body {
    background-color: #121212;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}


.grid-container {
    display: grid;

    grid-template-columns: 4vw 30vw 30vw 30vw 4vw; 
    grid-template-rows: 10vh 75vh 10vh 20vh 75vh 10vh 20vh 75vh 10vh 20vh 75vh 10vh 20vh 75vh 10vh 20vh;
    grid-template-areas: 
        "nav nav nav nav nav" 
        "quote quote main-image main-image space" 
        "space2 space2 extra extra space" 
        "space2 space2 space3 space3 space" 
        "space4 best-sell-img best-sell-img best-sell space6" 
        "space5 space5 space5 space5 space5" 
        "space5 space5 space5 space5 space5"
        "space13 cars cars cars space14"
        "space12 space12 space12 space12 space12" 
        "space12 space12 space12 space12 space12"
        "space7 about about about space8"
        "space9 space9 space9 space9 space9"
        "space9 space9 space9 space9 space9"
        "space10 contact contact contact space11"
        "space20 space20 space20 space20 space20"
        "foot foot foot foot foot"
    ;

    height: 405vh;
    width: 100vw;
    margin: 1em;
    
} 




/* ------------------------------------ */


.main-quote {
    padding-left: 4vw;
    text-align: left;
    line-height: 500%;

    font-family: 'Open Sans', sans-serif;
    color: rgb(252, 133, 78);

    text-shadow: 0px 0px 10px rgba(255, 112, 69,0.4);

    grid-area: quote;
    cursor: default;
}

.main-quote .bold {
    font-size: 60px;
    font-weight: 700;
}
.main-quote .sub-text {
   
    font-size: 22.5px;
    font-weight: 300;
}

/* ------------------------------------ */
.main-image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    
    margin-left: auto;
    margin-right: auto;

    transform: scale(0.9);
    border-radius: 25px;
    -webkit-box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.75);
}
.main-image {
    cursor: default;
    grid-area: main-image;
}


/* ------------------------------------ */


.extra-text {
    font-family: 'Open Sans', sans-serif;
    color: rgb(252, 133, 78);    
    text-shadow: 0px 0px 10px rgba(255, 112, 69,0.5);

    font-size: 20px;
    font-weight: 300;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 15%;
    padding-right: 15%;
    grid-area: extra;

    cursor: default;
}

.extra-text .circle {
    width: 15px;
    height: 15px;
    background-color:rgb(252, 133, 78);    border-radius: 50%;

    -webkit-box-shadow: 2px 2px 23px -4px rgba(255,175,138,1);
    -moz-box-shadow: 2px 2px 23px -4px rgba(255,175,138,1);
    box-shadow: 2px 2px 23px -4px rgba(255,175,138,1);
}

/* ------------------------------------ */

.best-sell-img img {
   
    max-width: 100%;
    max-height: 100%;
    display: block;
    
    margin-left: auto;
    margin-right: auto;

    transform: scale(0.9);
    border-radius: 25px;
    -webkit-box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.75);

}
.best-sell-img {
    position: relative;
    grid-area: best-sell-img;
}

.best-sell-img .learn-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;

    left: 50%;
    margin-left: -190px;
    top: 95%;
    margin-top: -20px;

    cursor: pointer;
}

.best-sell-img .learn-more-button button{
    height: 40px;
    width: 300px;

    background-color:rgb(252, 133, 78);    border-radius: 20px;
    border-style: none;

    -webkit-box-shadow: 2px 2px 23px -4px rgba(255,175,138,0.3);
    -moz-box-shadow: 2px 2px 23px -4px rgba(255,175,138,0.3);
    box-shadow: 2px 2px 23px -4px rgba(255,175,138,0.3);

    
}

.best-sell-img .learn-more-button button a {
    text-decoration: none;
    color: #121212;
    font-size: 20px;

    text-align: center;

    text-shadow: 1px 1px 5px rgba(0,0,0,0.65);
}

.best-sell-img .learn-more-button .arrow-left {
    transform: rotate(180deg);

}


.best-sell-img .learn-more-button .arrow-right img, .best-sell-img .learn-more-button .arrow-left img{
    height: 40px;
    width: 40px;

    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow: none;
}


/* ------------------------------------ */
.best-seller {
    padding-right: 4vw;
    padding-top: 10%;
    text-align: left;

    font-family: 'Open Sans', sans-serif;
    color:rgb(252, 133, 78);
    text-shadow: 0px 0px 10px rgba(255, 112, 69,0.4);

    grid-area: best-sell;
    cursor: default;
}

.best-seller .bold {
    font-size: 60px;
    font-weight: 700;
}

.best-seller .sub-text {
    font-size: 22.5px;
    font-weight: 300;

    display: flex;
    justify-content: space-between;
    
}

.best-seller .info {
    text-justify: auto;
    padding-top: 3%;
    font-size: 15px;
    font-weight: 300;
    color: #E3E3E3;
}
/* ------------------------------------ */

.about-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color:#191919;

    display: flex;
    justify-content: space-between;

    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    grid-area: about;
}

.about-container .about-us-label{
    height: 5%;
    width: 20%;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 27%;
    top: -2.5%;
    transform: translate(-50%, 0%);

    color: #E3E3E3;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 0px 0px 20px rgba(206,89,55,0.48);

    background-color: #121212;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(245,103,38,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(245,103,38,0.3);
    box-shadow: 0px 0px 10px 0px rgba(245,103,38,0.3);

    border-width: 3px;
    border-style: solid;
    border-color: rgb(255, 148, 98);

    cursor: default;
}

.about-container .map{
    width: 100%;
    height: 95%;

    padding-left: 1%;

    display: flex;
    justify-content: center;

    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);

}
.about-container .map iframe{
    border-radius: 25px;


}
.about-container .map div{
    height: 100%;
    width: 2%;
    border-radius: 25px;


}
.about-container .map img{
    object-fit: scale-down;


}

.about-container .info-container {
    width: 100%;
    height: 100%;

    padding-top: 2%;

    color: rgb(255, 148, 98);
    text-shadow: 0px 0px 20px rgba(206,89,55,0.48);
}


.about-container .info-container .address-container{
    width: 90%;
    height: 40%;
    
    padding-left: 2%;

 

}

.about-container .info-container .bio-container{
    width: 90%;
    height: 40%;
 

    padding-left: 2%;

}

.about-container .info-container .bio-container .who-are-we{
    padding-top: 1%;
    font-size: 22.5px;
}
.about-container .info-container .bio-container .bio {
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #E3E3E3;
}

.about-container .info-container .address-container .find-us{
    padding-top: 2%;
    font-size: 22.5px;
 
    
}

.about-container .info-container .address-container .address{
    padding-top: 1%;
    font-size: 15px;
    color: #E3E3E3;
}

.about-container .about-container-trigger{
    width: 20%;
    height: 10%;
z-index: -1;

    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
 
}
/* ------------------------------------ */

.main-contact-form-container {
    position: relative;
    width: auto;
    height: auto;
    background-color:#191919;

    

    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    grid-area: contact;
}

/* ------------------------------------ */

.main-cars-container {
  position: relative;
  height: 100%;
  width: 80%;
  display: grid;

  margin-left: 10%;

  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
    "sedans sedans suv suv"
    "offroad offroad premium premium"
  ;

  grid-area: cars;
}

.main-cars-container div {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.main-cars-container .car-category .cars-container-img-container {
  width: 50%;
  height: 100%;

  transform-origin: center;
  transform: scale(0.9);

} 


.main-cars-container .car-category .cars-container-img-container img {

  width: 100%;
  height: 100%;

  transition: all 0.3s ease 0s;
  border-radius: 25px;

} 

.main-cars-container .car-category .cars-container-text-container {
  width: 50%;
  height: 100%;

  display: inline;

  padding-top: 10%;
  padding-right: 4%;


  transform-origin: center;
  transform: scale(0.95);
} 

.main-cars-container .car-category .cars-container-text-container .car-category-title {
  color: rgb(255, 148, 98);
  font-size: 22.5px;
}
.main-cars-container .car-category .cars-container-text-container .car-category-disc {
  color: #E3E3E3;
  font-size: 15px;

  text-align: justify;
}

.main-cars-container .car-category {
  position: relative;
    width: 100%;
    height: 100%;
    background-color:#191919;

   
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);

    transform-origin: center;
    transform: scale(0.95);
    
    transition: all 0.3s ease 0s;
    cursor: pointer;

}



.main-cars-container .car-category:hover{
  transform-origin: center;
    transform: scale(1);
}

.main-cars-container .car-category .cars-container-img-container img:hover{
  transform-origin: center;
    transform: scale(1.05);
}

.main-cars-container .sedans {

  grid-area: sedans;
}
.main-cars-container .suv {

  grid-area: suv;
}


.main-cars-container .offroad {

  grid-area: offroad;
}

.main-cars-container .premium {

  grid-area: premium;
}

.cars-container-trigger {
  width: 20%;
  height: 10%;
  z-index: -1;


  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0%);
}


/* ------------------------------------ */
footer {
    
    grid-area: foot;
}

footer .footer-logo a {
  color: #E3E3E3;
  text-decoration: none;
  -webkit-transition: 0.2s opacity;
  transition: all 0.3s ease 0s;

  font-size: 30px;
}

footer a {
  color: #E3E3E3;
  text-decoration: none;
  -webkit-transition: 0.2s opacity;
  transition: all 0.3s ease 0s;

}

footer .footer-logo a:hover {
  text-decoration: none;
  outline: none;
  opacity: 0.8;
  color: #E3E3E3;
  font-size: 33px;
  
}


footer a:hover {
  text-decoration: none;
  outline: none;
  opacity: 0.8;
  color: rgb(255, 148, 98);
  font-size: 20px;
  
}
footer #footer {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #121212
}

footer .footer-logo {
  text-align: center;
  margin-bottom: 40px;
}

footer .footer-logo>a>img {
  max-height: 80px;
}
footer .footer-follow {
  text-align: center;
  margin-bottom: 20px;
}
footer .footer-follow li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 13px;
}

footer .footer-follow li a {
display: inline-block;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
border-radius: 3px;
background-color: #191919;
color:#FFF;
}

footer .footer-copyright p {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  color:#868F9B;
}
/* ------------------------------------ */






.header a {
    color: inherit;
    text-decoration: none;
}

.header nav {
    position: relative;
 
    padding-right: 4vw;  
}

.header {
    position: fixed;
    z-index: 100;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #E3E3E3;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    grid-area: nav;
    
}



.pageName {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 31px;
    letter-spacing: 10px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    
}

.navLinks {
    
    list-style: none;
    

}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;

}


.navLinks li a:hover {
    font-size: 30px;

   color:rgb(252, 133, 78);    
}





.icon-mode-switch img {
    filter: invert(100);
}

.searchBox img, .icon-mode-switch img{
  width: 35px;
  height: 35px;
  padding-left: 0px;

  cursor: pointer;
}

::-webkit-scrollbar {
    width: 7px;
  
}
 
::-webkit-scrollbar-track {
    background-color: #202020;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(48, 48, 48);
    
}

.white-space {
   

    grid-area: space;
}

.white-space2 {
    

    grid-area: space2;
}

.white-space3 {
    

    grid-area: space3;
}

.white-space4 {
    

    grid-area: space4;
}

.white-space5 {
    

    grid-area: space5;
}

.white-space6 {
    

    grid-area: space6;
}
.white-space7 {
    

    grid-area: space7;
}
.white-space8 {
    

    grid-area: space8;
}

::-webkit-scrollbar {
    width: 7px;
  
}
 
::-webkit-scrollbar-track {
    background-color: #202020;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(48, 48, 48);
    
}

.header-blur-dark {
    top: 0;
    position: fixed;
    height: 170px;
    width: 100%;

    background: linear-gradient(0deg, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 45%);
    z-index: 3;
}

.header-blur-light {
    top: 0;
    position: fixed;
    height: 170px;
    width: 100%;
    opacity: 0%;
    background: linear-gradient(0deg, rgba(227,227,227,0) 0%, rgba(227,227,227,1) 45%);
    z-index: 3;
}

/* ---------------------------------------------------------------------------------------------------------- */


.form-container-trigger {
    width: 20%;
    height: 10%;
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
}



/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #E3E3E3;
  --red: #e31b23;
  --bodyColor: #191919;
  
  --borderFormEls: rgb(255, 148, 98);
  --bgFormEls: #121212;
  --bgFormElsFocus: rgba(255, 148, 98, 0.274);
}

.get-in-touch {
    height: 5%;
    width: 20%;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 27%;
    top: -4.5%;
    transform: translate(-50%, 0%);

    color: #E3E3E3;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 0px 0px 20px rgba(206,89,55,0.48);

    background-color: #121212;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(245,103,38,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(245,103,38,0.3);
    box-shadow: 0px 0px 10px 0px rgba(245,103,38,0.3);

    border-width: 3px;
    border-style: solid;
    border-color: rgb(255, 148, 98);

    cursor: default;
}

.main-contact-form-container a {
  color: inherit;
}

.main-contact-form-container input,
.main-contact-form-container select,
.main-contact-form-container textarea,
.main-contact-form-container button {

    
  font-family: inherit;
  font-size: 100%;
}

.main-contact-form-container button,
.main-contact-form-container label {
  cursor: pointer;
}

.main-contact-form-container select {
  appearance: none;
}

/* Remove native arrow on IE */
.main-contact-form-container select::-ms-expand {
  display: none;
}

/*Remove dotted outline from selected option on Firefox*/
/*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
/*We use !important to override the color set for the select on line 99*/
.main-contact-form-container select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

.main-contact-form-container textarea {
  resize: none;
}

.main-contact-form-container ul {
  padding: 0;
  list-style: none;
}

.main-contact-form-container body {
  font: 18px/1.5 "Open Sans", sans-serif;
  background: var(--bodyColor);
  color: var(--white);

}

.main-contact-form-container .container {
    color: #E3E3E3;
    
  max-width: 800px;
  margin: 0 auto;
    padding-top: 5%;
}


/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-contact-form-container .my-form h1 {
  margin-bottom: 1.5rem;
}

.main-contact-form-container .my-form li,
.main-contact-form-container .my-form .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.main-contact-form-container .my-form select,
.main-contact-form-container .my-form input {
  width: 95%;
  line-height: 1.5;
  padding: 15px 15px;
  border: 0px solid var(--borderFormEls);
  border-radius: 15px;
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);

    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);

    outline: none;
}

.main-contact-form-container .my-form button {
    width: 95%;
    line-height: 1.5;
    padding: 15px 15px;
    border: 0px solid var(--borderFormEls);
    border-radius: 15px;
    color: var(--white);
    background: var(--bgFormEls);
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
      transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  
      -webkit-box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.2);
    box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.2);
  
      outline: none;
}

.main-contact-form-container .my-form textarea {
    width: 97.5%;
    line-height: 1.5;
    padding: 15px 15px;
    border: 0px solid var(--borderFormEls);
    border-radius: 15px;
    color: var(--white);
    background: var(--bgFormEls);
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
      all 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  
      -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
      box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
  
      outline: none;
}

.main-contact-form-container .my-form textarea {
  height: 170px;
}

.main-contact-form-container .my-form ::placeholder {
  color: inherit;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}

.main-contact-form-container .my-form select:focus,
.main-contact-form-container .my-form input:focus,
.main-contact-form-container .my-form textarea:focus,
.main-contact-form-container .my-form button:enabled:hover,
.main-contact-form-container .my-form button:focus,
.main-contact-form-container .my-form input[type="checkbox"]:focus + label {
    -webkit-box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.2);
    box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.2);
}

.main-contact-form-container .my-form select:focus,
.main-contact-form-container .my-form input:focus,
.main-contact-form-container .my-form textarea:focus {
  transform: scale(1.02);
}


.main-contact-form-container .my-form *:required,
.main-contact-form-container .my-form select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}

.main-contact-form-container .my-form *:required {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);  
}

.main-contact-form-container .my-form select {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

.main-contact-form-container .my-form *:disabled {
  cursor: default;
  filter: blur(2px);
  
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
      box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
  
}


/* FORM BTNS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-contact-form-container .my-form .required-msg {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
    no-repeat center left / 15px 15px;
  padding-left: 20px;
}

.main-contact-form-container .my-form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

.main-contact-form-container .my-form button {
  font-weight: bold;
}

.main-contact-form-container .my-form button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.main-contact-form-container .my-form button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

.main-contact-form-container .my-form button:enabled:hover .back,
.main-contact-form-container .my-form button:focus .back {
  transform: translate(-50%, -50%);
}

.main-contact-form-container .my-form button:enabled:hover .front,
.main-contact-form-container .my-form button:focus .front {
  transform: translateX(110%);
}


/* CUSTOM CHECKBOX
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-contact-form-container .my-form input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.main-contact-form-container .my-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.main-contact-form-container .my-form input[type="checkbox"] + label::before,
.main-contact-form-container .my-form input[type="checkbox"] + label::after {
  content: '';
  position: absolute;
}

.main-contact-form-container .my-form input[type="checkbox"] + label::before {
  left: 0;
  top: 6px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--white);
}

.main-contact-form-container .my-form input[type="checkbox"]:checked + label::before {
  background: var(--red);
}

.main-contact-form-container .my-form input[type="checkbox"]:checked + label::after {
  left: 7px;
  top: 7px;
  width: 6px;
  height: 14px;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
}



/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {
    .main-contact-form-container .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }

  .main-contact-form-container .my-form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .main-contact-form-container .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .main-contact-form-container .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .main-contact-form-container .my-form .required-msg {
    display: block;
  }
}

@media screen and (min-width: 541px) {
    .main-contact-form-container .my-form input[type="checkbox"] + label::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .main-contact-form-container .my-form input[type="checkbox"]:checked + label::after {
    top: 3px;
  }
}