@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800&display=swap');

body {
    padding: 0;
    margin: 0;


    overflow-y: hidden;

    background-color: #f3f3f3;

}


.ui_grid_container {

    height: 100vh;
    width: 100vw;

    display: grid;

    grid-template-rows: 10% 5% 70% 5% 10%;
    grid-template-columns: 5% 90% 5%;

    grid-template-areas: 
    "head head head" 
    "space3 space space2" 
    "space3 map space2" 
    "space3 space4 space2"
    "nav nav nav"
    ;
}
  