
.login {
    grid-area: button;

    text-align: center;

    
}


.login button {
    width: 80vw;
    height: 7vw;

    background-color: #fc854e;
    border-style: none;
    
    
    border-radius: 5vw;

    -webkit-box-shadow: 0px 0px 15px 0px #fc854e;
    -moz-box-shadow: 0px 0px 15px 0px #fc854e;
    box-shadow: 0px 0px 15px 0px #fc854e;
}

.login button a {
    font-family: 'Open Sans', sans-serif;
    color: #e2e9f0;
    text-decoration: none;

    font-size: 3vw;
    font-weight: lighter;

    letter-spacing: 2px;
}

.login h3 {
    font-family: 'Open Sans', sans-serif;
    color: #515569;

    font-size: 3vw;
    margin: 0;
    padding-top: 1%;
    font-weight: lighter; 
}

.login h3 a{
    font-family: 'Open Sans', sans-serif;
    color: #fc854e;

    font-size: 3vw;
    margin: 0;
    padding-top: 1%;
    font-weight: lighter; 
    text-decoration: none;
}