@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800&display=swap');

body {
    padding: 0;
    margin: 0;


    overflow-y: hidden;

    background-color: white;

}


.ui_grid_container {

    height: 100vh;
    width: 100vw;

    display: grid;

    grid-template-rows: 10% 40% 20% 10% 10% 10%;
    grid-template-columns: 5% 90% 5%;

    grid-template-areas: 
    "head head head" 
    "space3 img space2" 
    "space3 space4 space2"
    "space3 button space2"
    "space3 ext space2"
    "nav nav nav"
    ;
}
  